<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inkhornsolutions.kitchen">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kitchen">

        <activity
            android:name="com.inkhornsolutions.kitchen.Profile"
            android:parentActivityName="com.inkhornsolutions.kitchen.MainActivity"
            android:requestLegacyExternalStorage="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.inkhornsolutions.kitchen.RequestDriverActivity"
            android:label="@string/title_activity_request_driver" />

        <activity
            android:name="com.inkhornsolutions.kitchen.FindDriver"
            android:label="@string/title_activity_find_driver" />

        <activity android:name="com.inkhornsolutions.kitchen.CompletedOrders" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <service
            android:name="com.inkhornsolutions.kitchen.Service.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.inkhornsolutions.kitchen.Orders" />
        <activity android:name="com.inkhornsolutions.kitchen.AddItem" android:parentActivityName=".MainActivity" />
        <activity android:name="com.inkhornsolutions.kitchen.ItemProperties" android:parentActivityName=".MainActivity" />
        <activity android:name="com.inkhornsolutions.kitchen.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.inkhornsolutions.kitchen.MainActivity"/>


    </application>

</manifest>